{% extends 'account/base.html' %}
{% load home_tags %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Farm to table</h1>
        <p class="lead">Farm fresh food is right next door! Access local farmers in you area to get quality food at great prices.</p>
        <hr class="my-4">
        <p>Browse a list of local farms in your area.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'farm_list' %}" role="button">Browse Farms</a>
        </p>
    </div>

    <div class="container">
     <h2>Newly listed farms:</h2>
            {% show_recent_farms 3 %}
        
        
    </div>


    
   
{% endblock %}