{% extends 'account/base.html' %}
{% block title %}Create an account{% endblock %}
{% block content %}
    
    <div class="container">
    <h1 class="my-5">Create a farm account</h1>
    <p>Please, sign up using the following form:</p>
        <form method="POST">
            <div class="form-group md-w-75">
                {% for field in user_form %}
                    <label for="">{{field.label_tag}}</label>
                    {{field}}
                {% endfor %}
            </div>
            {% csrf_token %}
            <p><input type="submit" value="Create my account"></p>
        </form>
    </div>
    
{% endblock %}